<header>
    <nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #555555;" data-bs-theme="light">
        <div class="container-fluid text-white">
            <a class="navbar-brand text-white" href="/">SNS(仮)</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-white" id="navbarSupportedContent" data-bs-theme="dark">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active text-white" aria-current="page" href="post">投稿する</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">工事中２</a>
                    </li>

                    <li class="nav-item">
                        <% if (locals.isLoggedIn){ %>
                        <a class="nav-link text-white" href="/logout">ログアウト</a>
                        <% } else { %>
                        <a class="nav-link text-white" href="/login">ログイン</a>
                        <% } %>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>