<%- include('head'); %>
  <body>
    <div class="sign">
      <div class="container">
        <h1><a href="/">SNS</a></h1>
        <div class="panel">
          <h2>ログイン</h2>
          <form action="/login" method="POST">
            <p>メールアドレス</p>
            <input type="text" name="email">
            <p>パスワード</p>
            <input type="password" name="password">
            <input type="submit" value="ログイン">
            <a href="/">トップに戻る</a>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>